<h1>Create New Figure</h1>
<form action="/figures" method="post">
  <label>Name:</label>
  <input id="figure_name" type="text" name="figure[name]">
  <br></br>

  <label>Title:</label>
  <% Title.all.each do |title| %>
    <input id="title_<%= title.id %>"type="checkbox" name="figure[title_ids][]" value="<%= title.id %>"><%= title.name %></input>
  <% end %>
  <br></br>

  <label>Create new Title:</label>
  <input id="new_title" type="text" name="title[name]">
  <br></br>

  <label>Landmark:</label>
  <% Landmark.all.each do |landmark| %>
    <input id="landmark_<%= landmark.id %>"type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>"><%= landmark.name %></input>
  <% end %>
  <br></br>

  <label>Create new Landmark:</label>
  <input id="new_landmark" type="text" name="landmark[name]">
  <br></br>

  <input type="submit" value="Create New Figure">
</form>
